html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    word-wrap: break-word;
}
ul, ol {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input,
textarea {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}
* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
html,body {
    height: 100%;
}
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.db { display: block; }
.dib { display: inline-block; }
.dpn { display: none; }
.mln { margin-left: 0; }
.tc { text-align: center; }
.tu { text-transform: uppercase; }

.orange-bg {
    background-color: #FFA000;
}
.orange {
    color: #FFA000;
}
ul li.cb {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: 'helvetica-c';
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F5F5F5;
    color: #263238;
    font-size: 100%;
    line-height: 1;
}
body,
body * {
    font-family: 'helvetica-c', 'Helvetica', 'Arian AMU', 'Arial AMU', 'Arial', 'tahoma', sans-serif;
}
.fb, strong, b {
    font-weight: bold;
}
body a,
body select,
body input,
body textarea {
    color: #263238;
}

#page .page {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}
#header {
    background-color: #ffffff;
    box-shadow: 0 0 20px #dadada;
    height: 75px;
    padding-top: 19px;
}
#header .header-left {
    padding-left: 25px;
}
#logo {
    background: url('../images/logo.png') no-repeat;
    height: 53px;
    width: 229px;
}
#logo a {
    height: 100%;
}
#header .right-box {
    border-left: 1px solid #E0E0E0;
    font-size: 14px;
    height: 53px;
    padding: 0 27px;
}
#header .sell-car {
    margin: 10px 13px 0 0;
}
#header .sell-car a {
    background: #00C853 url('../images/sell-car.png') no-repeat 10px center;
    border-radius: 3px;
    color: #ffffff;
    font-size: 11px;
    height: 33px;
    line-height: 34px;
    padding: 0 11px 0 32px;
    letter-spacing: 1px ;
}
#header .sell-car a:hover {
    background-color: #00d959;
}
#header .box-link {
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 6px;
    padding-top: 28px;
}
#header .currency .box-link {
    margin-right: 24px;
}
#header .favorite .box-link {
    background-image: url('../images/favorite.png');
    margin-right: 24px;
}
#header .history .box-link {
    background-image: url('../images/history.png');
}
#header .currency,
#header .lng {
    position: relative;
}
#header .right-inner-box ul {
    background-color: #ffffff;
    border: 1px solid #999999;
    box-shadow: 0 0 5px #cccccc;
    border-radius: 2px;
    position: absolute;
    top: 52px;
    left: 0;
}
#header .right-inner-box ul a {
    height: 22px;
    line-height: 22px;
    padding: 0 7px;
}
#header .right-inner-box ul a:hover {
    background-color: #f1f1f1;
}
#header .profile {
    line-height: 54px;
}
#header .sign-in {
    margin-right: 15px;
}

#top-banner {
    padding: 25px 0;
}

#top-cars {
    background-color: #ffffff;
    margin-right: 12px;
    padding: 26px 20px 2px 21px;
    position: relative;
    width: 777px;
}
.help {
    background: url('../images/help.png') no-repeat;
    height: 22px;
    width: 21px;
}
.help a {
    height: 100%;
}
#top-cars .help,
#urgent-cars .help {
    position: absolute;
    top: 25px;
    right: 28px;
}
#top-cars h2,
#urgent-cars h2,
#recently-cars h2 {
    background: url('../images/top-cars.png') no-repeat left center;
    font-size: 13px;
    height: 21px;
    margin-bottom: 17px;
    line-height: 21px;
    margin-left: 6px;
    padding-left: 22px;
    letter-spacing: 1px;
}
#top-cars h2 span,
#urgent-cars h2 span,
#recently-cars h2 span {
    height: 18px;
    border-bottom: 2px solid #FFA000;
}
#top-cars .box-part {
    padding: 0 7px 0 6px;
}
.auto-item {
    margin: 0 0 20px 14px;
    width: 245px;
}
.auto-item.mln {
    margin-left: 0;
}
.auto-item .auto-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 177px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}
.auto-item .auto-price {
    bottom: 13px;
    color: #ffffff;
    font-size: 14px;
    height: 23px;
    min-width: 80px;
    padding: 0 5px;
    line-height: 23px;
    left: 0;
    position: absolute;
    text-shadow: 0 0 3px #777777;
    letter-spacing: 1px;
}
.auto-item .auto-title {
    margin-bottom: 3px;
}
.auto-item .auto-info {
    color: #546e7a;
    font-size: 12px;
    margin-bottom: 3px;
}
.auto-item .favorite-icon {
    background: url('../images/favorite-icon.png?v=2') no-repeat;
    cursor: pointer;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 21px;
}
.auto-item .favorite-icon:hover,
.auto-item .favorite-icon.active {
    background-position: 0 -21px;
}
.auto-item .favorite-icon.sending {
    background-position: 0 -63px;
}

#quick-search {
    background-color: #ffffff;
    border: 1px solid #FFA000;
    padding: 26px;
    width: 315px;
}
#quick-search h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
#quick-search h2 span {
    font-size: 14px;
    margin: 0 5px;
}
#quick-search h2 a {
    border-bottom: 2px solid #FFA000;
}
#quick-search h2 a:hover {
    border-bottom: none;
}

.select-box {
    height: 33px;
    position: relative;
    width: 100%;
}
.select-box .select-title {
    background-color: #F5F5F5;
    border-radius: 4px;
    font-size: 14px;
    height: 100%;
    line-height: 33px;
    padding: 0 30px 0 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select-box .select-arrow {
    background: url('../images/arrow-down.png') no-repeat center center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
}
.select-box.loading .select-arrow {
    background-image: url('../images/select-loader.gif');
}
.select-box select {
    background: #F5F5F5;
    cursor: pointer;
    font-size: 14px;
    padding-left: 7px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.select-box.disabled {
    opacity: 0.5;
}
.select-box.disabled select {
    cursor: default;
}

#quick-search .country-select,
#quick-search .mark-select {
    margin-bottom: 27px;
}
#quick-search .model-select {
    margin-bottom: 25px;
}

#price-range-box {
    margin-bottom: 35px;
}
#price-range-box .price-text-box {
    font-size: 14px;
    margin-bottom: 17px;
}
#price-range-box .price-text {
    font-size: 12px;
}
#price-range-box .ui-slider-horizontal {
    cursor: pointer;
    height: 3px;
}
#price-range-box .ui-widget-content {
    background: #F5F5F5;
    border: none;
}
#price-range-box .ui-widget-header {
    background: #455A64;
    border: none;
}
#price-range-box .ui-state-default,
#price-range-box .ui-widget-content .ui-state-default {
    background: #263238;
    border: none;
    border-radius: 100%;
}
#price-range-box .ui-slider .ui-slider-handle {
    cursor: pointer;
    height: 21px;
    outline: none;
    top: -9px;
    width: 21px;
}
#quick-search .year-from-select,
#quick-search .year-to-select {
    margin-bottom: 22px;
    width: 148px;
}
#quick-search .year-from-select {
    margin-right: 19px;
}
.checkbox-label {
    background: url('../images/checkbox.png') no-repeat;
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    padding-left: 34px;
}
.checkbox-label input {
    opacity: 0;
}
.checkbox-label.active {
    background-image: url('../images/checkbox-active.png');
}

#quick-search .custom-cleared {
    width: 148px;
    margin-right: 19px;
}
#quick-search .damaged {
    width: 148px;
}
#quick-search .partial-pay {
    margin: 20px 0;
}
#quick-search .search-bodies {
    margin-bottom: 15px;
}
#quick-search .search-body {
    height: 31px;
    width: 84px;
}
#quick-search .search-body-0 {
    margin-right: 31px;
}
#quick-search .search-body-2 {
    float: right;
}
#quick-search .search-body label {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
}
#quick-search .search-body label.active {
    background-position: 0 -31px;
}
#quick-search .submit {
    background-color: #FFA000;
    border-radius: 4px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    position: relative;
    width: 100%;
}
#quick-search .submit div {
    background: url('../images/search.png') no-repeat left center;
    font-size: 14px;
    height: 100%;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 22px;
}
#quick-search .submit input {
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#mid-banners {
    padding: 27px 0;
}
#mid-banners .mid-banner {
    width: 50%;
}

#homepage-left {
    margin-right: 12px;
    width: 885px;
}
#homepage-left .banner {
    margin: 22px 0;
}
#homepage-left .small-box {
    background-color: #ffffff;
    padding: 26px 10px 2px 11px;
    position: relative;
    width: 864px;
}
#homepage-left .small-box .box-part {
    padding: 0 17px 0 16px;
}
#urgent-cars h2 {
    background-image: url('../images/urgent.png');
    margin-left: 16px;
}
#recently-cars h2 {
    background: none;
    margin-left: 16px;
    padding-left: 0;
}
.small-box .auto-item {
    margin-left: 33px;
    width: 183px;
}
.small-box .auto-item.mln {
    margin-left: 0;
}
.small-box .auto-img {
    height: 132px;
    width: 100%;
}
.small-box .favorite-icon {
    background: url('../images/favorite-small.png') no-repeat;
    height: 17px;
    top: 5px;
    right: 5px;
    width: 17px;
}
.small-box .auto-item .favorite-icon:hover,
.small-box .auto-item .favorite-icon.active {
    background-position: 0 -17px;
}
.small-box .auto-item .favorite-icon.sending {
    background-position: 0 -51px;
}
.small-box .auto-item .auto-price {
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    min-width: 65px;
}
.small-box .auto-item .auto-title {
    font-size: 14px;
}
.small-box .auto-item .auto-info {
    font-size: 11px;
}
#homepage-left .home-ads {
    padding: 28px 0 32px 0;
}

#calculators {
    width: 303px;
}
#calculators .calc-box {
    background-color: #ffffff;
    border: 1px solid #FFA000;
    margin-bottom: 10px;
    padding: 28px 15px 7px 15px;
    width: 271px;
}
#calculators h2 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    max-width: 245px;
}
#parts-calculator .mark-select,
#parts-calculator .model-select {
    width: 131px;
    margin: 0 9px 15px 0;
}
#parts-calculator .model-select {
    margin-right: 0;
}
#parts-calculator .parts-left,
#parts-calculator .parts-right {
    margin-bottom: 7px;
    width: 132px;
}
#parts-calculator .parts-right {
    margin-left: 7px;
}
#parts-calculator .checkbox-label {
    font-size: 11px;
    line-height: normal;
    padding-left: 30px;
}
#parts-calculator .part-checkbox {
    margin-bottom: 10px;
}
#calculators .submit {
    height: 40px;
    margin-bottom: 15px;
}
#calculators .submit input {
    background: #FFA000;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    height: 100%;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
}
#calculators .calc-price {
    font-size: 14px;
    margin-bottom: 10px;
}
#calculators .calc-result {
    max-width: 210px;
}
#page input[type="text"] {
    background: #f5f5f5;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: 33px;
    /*line-height: 33px;*/
    padding: 0 13px;
    width: 100%;
}
#tax-calculator .price-box {
    margin-bottom: 15px;
}
#tax-calculator .year-select {
    margin-bottom: 27px;
}
#tax-calculator .submit {
    margin-bottom: 27px;
}
#tax-calculator .calc-price {
    margin-bottom: 15px;
}

#footer-block {
    background-color: #263238;
}
#footer {
    color: #ffffff;
    font-size: 14px;
    padding: 38px 35px 15px;
    letter-spacing: 1px;
}
#footer a {
    color: #ffffff;
}
#footer .footer-menu {
    margin-bottom: 65px;
}
#footer .footer-menu li {
    margin-right: 23px;
}
#footer .footer-menu li.last {
    margin-right: 0;
}
#footer .footer-menu li a {
    border-bottom: 2px solid #8E9497;
}
#footer .footer-menu li a:hover {
    border-bottom: none;
}
#footer .footer-contacts {
    margin-right: 120px;
}
#footer .footer-contact {
    margin-bottom: 15px;
}
#footer .footer-contact a:hover {
    text-decoration: underline;
}
#footer .footer-join {
    margin-right: 135px;
}
#footer .footer-join p,
#footer .footer-payments p {
    font-size: 16px;
    margin-bottom: 15px;
}
#footer .footer-join ul li {
    height: 37px;
    margin: 0 10px;
}
#footer .footer-payments ul li {
    height: 35px;
    margin: 0 10px;
}
#footer .footer-join ul li a,
#footer .footer-payments ul li a {
    background-repeat: no-repeat;
    height: 100%;
    width: 37px;
}
#footer .footer-join ul li a.facebook {
    background-image: url('../images/join-fb.png');
}
#footer .footer-join ul li a.instagram {
    background-image: url('../images/join-instagram.png');
}
#footer .footer-payments ul li a.paypal {
    background-image: url('../images/paypal.png');
    width: 56px;
}
#footer .footer-payments ul li a.telcell {
    background-image: url('../images/telcell.png');
    width: 55px;
}
#footer .footer-payments ul li a.arca {
    background-image: url('../images/arca.png');
    width: 54px;
}
#footer .footer-right {
    color: #CCCFD0;
    text-align: right;
    width: 240px;
}
#footer .footer-right p {
    font-style: italic;
    margin-bottom: 15px;
    line-height: 25px;
}
#footer .footer-right span {
    background-color: #CCCFD0;
    height: 2px;
    vertical-align: middle;
    width: 14px;
}
#footer .website-by {
    color: #CCCFD0;
    font-size: 13px;
    margin-top: 15px;
}
#footer .website-by div {
    text-align: left;
    line-height: 22px;
}