html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    word-wrap: break-word;
}
ul, ol {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input,
textarea {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}
* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
html,body {
    height: 100%;
}
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.db { display: block; }
.dib { display: inline-block; }
.dpn { display: none; }
.mln { margin-left: 0; }
.tc { text-align: center; }
.tr { text-align: right; }
.tu { text-transform: uppercase; }
.fbn { font-weight: normal; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mb25 { margin-bottom: 25px; }

.orange-bg {
    background-color: #FFA000;
}
.orange {
    color: #FFA000;
}
ul li.cb {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.btn {
    background-color: #FFA000;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    padding: 0 10px;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'helvetica-c';
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F5F5F5;
    color: #263238;
    font-size: 100%;
    line-height: 1;
}
body,
body * {
    font-family: 'helvetica-c', 'Helvetica', 'Arian AMU', 'Arial AMU', 'Arial', 'tahoma', sans-serif;
}
.fb, strong, b {
    font-weight: bold;
}
body a,
body select,
body input,
body textarea {
    color: #263238;
}

#page .page {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}
#page .underline {
    text-decoration: underline;
}
#page .underline:hover {
    text-decoration: none;
}
#header {
    background-color: #ffffff;
    box-shadow: 0 0 20px #dadada;
    height: 75px;
    padding-top: 19px;
}
#header .header-left {
    padding-left: 25px;
}
#logo {
    background: url('../images/logo.png') no-repeat;
    height: 53px;
    width: 229px;
}
#logo a {
    height: 100%;
}
#header .right-box {
    border-left: 1px solid #E0E0E0;
    font-size: 14px;
    height: 53px;
    padding: 0 27px;
}
#header .sell-car {
    margin: 10px 13px 0 0;
}
#header .sell-car a {
    background: #00C853 url('../images/sell-car.png') no-repeat 10px center;
    border-radius: 3px;
    color: #ffffff;
    font-size: 11px;
    height: 33px;
    line-height: 34px;
    padding: 0 11px 0 32px;
    letter-spacing: 1px ;
}
#header .sell-car a:hover {
    background-color: #00d959;
}
#header .box-link {
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 6px;
    padding-top: 28px;
}
#header .currency .box-link {
    margin-right: 24px;
}
#header .favorite .box-link {
    background-image: url('../images/favorite.png');
    background-size: 24px;
    margin-right: 24px;
}
#header .history .box-link {
    background-image: url('../images/history.png');
    background-size: 24px;
}
#header .login .box-link {
    background-image: url('../images/login.png');
    background-size: 24px;
    margin-right: 24px;
}
#header .registration .box-link {
    background-image: url('../images/register.png');
    background-size: 24px;
}
#header .username .box-link {
    background-image: url('../images/profile-img.png');
    background-size: 24px;
}
#header .currency,
#header .lng {
    position: relative;
}
#header .right-inner-box ul {
    background-color: #ffffff;
    border: 1px solid #999999;
    box-shadow: 0 0 5px #cccccc;
    border-radius: 2px;
    position: absolute;
    top: 52px;
    left: 0;
}
#header .right-inner-box ul a {
    height: 22px;
    line-height: 22px;
    padding: 0 7px;
}
#header .right-inner-box ul a:hover {
    background-color: #f1f1f1;
}

#top-banner {
    padding: 25px 0;
}

#top-cars {
    background-color: #ffffff;
    margin-right: 12px;
    min-height: 540px;
    padding: 26px 20px 2px 21px;
    position: relative;
    width: 777px;
}
.no-cars {
    color: #a7a7a7;
    position: absolute;
    top: 48%;
    width: 100%;
}
.help {
    background: url('../images/help.png') no-repeat;
    height: 22px;
    width: 21px;
}
.help a {
    height: 100%;
}
#urgent-cars {
    min-height: 846px;
}
#top-cars .help,
#urgent-cars .help {
    position: absolute;
    top: 25px;
    right: 28px;
}
#top-cars h2,
#urgent-cars h2,
#recently-cars h2 {
    background: url('../images/top-cars.png') no-repeat left center;
    font-size: 13px;
    height: 21px;
    margin-bottom: 17px;
    line-height: 21px;
    margin-left: 6px;
    padding-left: 22px;
    letter-spacing: 1px;
}
#top-cars h2 span,
#urgent-cars h2 span,
#recently-cars h2 span {
    height: 18px;
    border-bottom: 2px solid #FFA000;
}
#top-cars .box-part {
    padding: 0 7px 0 6px;
}
.auto-item {
    margin: 0 0 20px 14px;
    width: 245px;
}
.auto-item.mln {
    margin-left: 0;
}
.auto-item .auto-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 177px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}
.auto-item .auto-price {
    bottom: 13px;
    color: #ffffff;
    font-size: 14px;
    height: 23px;
    min-width: 80px;
    padding: 0 5px;
    line-height: 23px;
    left: 0;
    position: absolute;
    text-shadow: 0 0 3px #777777;
    letter-spacing: 1px;
}
.auto-item .auto-title {
    margin-bottom: 3px;
}
.auto-item .auto-info {
    color: #546e7a;
    font-size: 12px;
    margin-bottom: 3px;
}
.auto-item .favorite-icon {
    background: url('../images/favorite-icon.png?v=2') no-repeat;
    cursor: pointer;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 21px;
}
.auto-item .favorite-icon:hover,
.auto-item .favorite-icon.active {
    background-position: 0 -21px;
}
.auto-item .favorite-icon.sending {
    background-position: 0 -63px;
}

#quick-search {
    background-color: #ffffff;
    border: 1px solid #FFA000;
    padding: 26px;
    width: 315px;
}
#quick-search h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
#quick-search h2 span {
    font-size: 14px;
    margin: 0 5px;
}
#quick-search .adv-search-link {
    margin-top: 20px;
}
#quick-search .adv-search-link a {
    border-bottom: 2px solid #FFA000;
    font-size: 16px;
}
#quick-search .adv-search-link a:hover {
    border-bottom: none;
}
#quick-search .body-checkbox {
    background-size: 84px;
}

.select-box {
    height: 33px;
    position: relative;
    width: 100%;
}
.select-box .select-title {
    background-color: #F5F5F5;
    border-radius: 4px;
    font-size: 14px;
    height: 100%;
    line-height: 33px;
    padding: 0 30px 0 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select-box .select-arrow {
    background: url('../images/arrow-down.png') no-repeat center center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
}
.select-box.loading .select-arrow {
    background-image: url('../images/select-loader.gif');
}
.select-box select {
    background: #F5F5F5;
    cursor: pointer;
    font-size: 14px;
    padding-left: 7px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.select-box.disabled {
    opacity: 0.5;
}
.select-box.disabled select {
    cursor: default;
}

#quick-search .country-select,
#quick-search .mark-select {
    margin-bottom: 27px;
}
#quick-search .model-select {
    margin-bottom: 25px;
}

#price-range-box {
    margin-bottom: 35px;
}
#price-range-box .price-text-box {
    font-size: 14px;
    margin-bottom: 17px;
}
#price-range-box .price-text {
    font-size: 12px;
}
#price-range-box .ui-slider-horizontal {
    cursor: pointer;
    height: 3px;
}
#price-range-box .ui-widget-content {
    background: #F5F5F5;
    border: none;
}
#price-range-box .ui-widget-header {
    background: #455A64;
    border: none;
}
#price-range-box .ui-state-default,
#price-range-box .ui-widget-content .ui-state-default {
    background: #263238;
    border: none;
    border-radius: 100%;
}
#price-range-box .ui-slider .ui-slider-handle {
    cursor: pointer;
    height: 21px;
    outline: none;
    top: -9px;
    width: 21px;
}
#quick-search .year-from-select,
#quick-search .year-to-select {
    margin-bottom: 22px;
    width: 148px;
}
#quick-search .year-from-select {
    margin-right: 19px;
}
.checkbox-label {
    background: url('../images/checkbox.png') no-repeat;
    display: block;
    cursor: pointer;
    font-size: 14px;
    min-height: 24px;
    line-height: 24px;
    padding-left: 34px;
}
.checkbox-label.disabled {
    cursor: default;
    opacity: 0.5;
}
.checkbox-label input {
    opacity: 0;
}
.checkbox-label.active {
    background-image: url('../images/checkbox-active.png');
}
.radio-label {
    background: url('../images/radio.png') no-repeat;
    background-size: 24px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    min-height: 24px;
    line-height: 24px;
    padding-left: 34px;
}
.radio-label input {
    opacity: 0;
}
.radio-label.active {
    background-image: url('../images/radio-active.png');
}

#quick-search .custom-cleared {
    width: 148px;
    margin-right: 19px;
}
#quick-search .damaged {
    width: 148px;
}
#quick-search .partial-pay {
    margin: 20px 0;
}
#quick-search .search-bodies {
    margin-bottom: 15px;
}
#quick-search .search-body {
    height: 31px;
    width: 84px;
}
#quick-search .search-body-0 {
    margin-right: 31px;
}
#quick-search .search-body-2 {
    float: right;
}
#quick-search .search-body label {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
}
#quick-search .search-body label.active {
    background-position: 0 -31px;
}
#quick-search .search-body input {
    opacity: 0;
}
#quick-search .submit {
    background-color: #FFA000;
    border-radius: 4px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    position: relative;
    width: 100%;
}
#quick-search .submit div {
    background: url('../images/search.png') no-repeat left center;
    font-size: 14px;
    height: 100%;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 22px;
}
#quick-search .submit input {
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#mid-banners {
    padding: 27px 0;
}
#mid-banners .mid-banner {
    width: 50%;
}

#homepage-left {
    margin-right: 12px;
    width: 885px;
}
#homepage-left .banner {
    margin: 22px 0;
}
#homepage-left .small-box {
    background-color: #ffffff;
    padding: 26px 10px 2px 11px;
    position: relative;
    width: 864px;
}
#homepage-left .small-box .box-part {
    padding: 0 17px 0 16px;
}
#urgent-cars h2 {
    background-image: url('../images/urgent.png');
    margin-left: 16px;
}
#recently-cars {
    min-height: 240px;
}
#recently-cars h2 {
    background: none;
    margin-left: 16px;
    padding-left: 0;
}
.small-box .auto-item {
    margin-left: 33px;
    width: 183px;
}
.small-box .auto-item.mln {
    margin-left: 0;
}
.small-box .auto-img {
    height: 132px;
    width: 100%;
}
.small-box .favorite-icon {
    background: url('../images/favorite-small.png') no-repeat;
    height: 17px;
    top: 5px;
    right: 5px;
    width: 17px;
}
.small-box .auto-item .favorite-icon:hover,
.small-box .auto-item .favorite-icon.active {
    background-position: 0 -17px;
}
.small-box .auto-item .favorite-icon.sending {
    background-position: 0 -51px;
}
.small-box .auto-item .auto-price {
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    min-width: 65px;
}
.small-box .auto-item .auto-title {
    font-size: 14px;
}
.small-box .auto-item .auto-info {
    font-size: 11px;
}
.home-ads {
    padding: 28px 0 32px 0;
}

#calculators {
    width: 303px;
}
#calculators .calc-box {
    background-color: #ffffff;
    border: 1px solid #FFA000;
    margin-bottom: 10px;
    padding: 28px 15px 7px 15px;
    width: 271px;
}
#calculators h2 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    max-width: 245px;
}
#parts-calculator .mark-select,
#parts-calculator .model-select {
    width: 131px;
    margin: 0 9px 15px 0;
}
#parts-calculator .model-select {
    margin-right: 0;
}
#parts-calculator .checkbox-label {
    font-size: 13px;
    line-height: 18px;
    padding-top: 3px;
    padding-left: 30px;
}
#parts-calculator .part-checkbox {
    margin-bottom: 10px;
}
#parts-calculator .parts-block {
    position: relative;
}
#parts-calculator .parts-loader {
    background: url('../images/loader.gif') no-repeat;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -27px;
    width: 54px;
}
#calculators .submit {
    height: 40px;
    margin-bottom: 15px;
}
#calculators .submit input {
    background: #FFA000;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    height: 100%;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
}
#calculators .calc-price {
    font-size: 14px;
    margin-bottom: 10px;
}
#calculators .calc-result {
    max-width: 210px;
}
#page input[type="text"],
#page input[type="password"],
#page textarea {
    background: #f5f5f5;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: 33px;
    /*line-height: 33px;*/
    padding: 0 13px;
    width: 100%;
}
#page textarea {
    height: 80px;
    padding-bottom: 8px;
    padding-top: 8px;
    resize: none;
}
#tax-calculator .price-box {
    margin-bottom: 15px;
}
#tax-calculator .year-select {
    margin-bottom: 27px;
}
#tax-calculator .submit {
    margin-bottom: 27px;
}
#tax-calculator .calc-price {
    margin-bottom: 15px;
}

/* login reg */
#login-block {
    background-color: #ffffff;
    margin-bottom: 34px;
}
#login-inner {
    margin: 0 auto;
    padding: 30px 0;
    width: 355px;
}
#login-block h1 {
    font-size: 20px;
    margin-bottom: 23px;
}
#login-block .fb-login,
#login-block .google-login {
    border-radius: 4px;
    height: 41px;
    margin-bottom: 17px;
    width: 169px;
}
#login-block .fb-login {
    background: #3C5D99 url('../images/fb-login.png?v=1') no-repeat center center;
    margin-right: 17px;
}
#login-block .google-login {
    background: #E04E39 url('../images/google-login.png?v=1') no-repeat center center;
}
#login-block .fb-login a,
#login-block .google-login a {
    height: 41px;
}
#login-block .line-block {
    height: 23px;
    line-height: 21px;
    margin-bottom: 15px;
    position: relative;
}
#login-block .line {
    background-color: #F5F5F5;
    height: 2px;
    margin-top: 11px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#login-block .or {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#login-block .or div {
    background-color: #ffffff;
    color: #86888a;
    font-size: 15px;
    padding: 0 5px;
}
#login-block input[type="text"],
#login-block input[type="password"] {
    font-size: 18px;
    height: 48px;
    padding: 0 11px;
}
#login-block .form-box {
    margin-bottom: 12px;
}
#login-block input[type="submit"] {
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    margin-top: 9px;
    letter-spacing: 1px;
    width: 100%;
}
#login-block .form-error {
    color: #ff0000;
    font-size: 15px;
    margin-top: 4px;
}
#login-block .link {
    font-size: 14px;
    margin-top: 17px;
}
#login-block .link a {
    text-decoration: underline;
}
#login-block .link a:hover {
    text-decoration: none;
}
#login-block .activation-info a {
    text-decoration: underline;
}
#login-block .activation-info a:hover {
    text-decoration: none;
}
#reg-success {
    background-color: #ffffff;
    padding: 70px;
    margin-bottom: 30px;
}

/* profile */
#profile {
    padding-top: 25px;
    margin-bottom: 34px;
}
#profile .links {
    margin-bottom: 17px;
}
#profile .links .link {
    height: 62px;
    width: 386px;
    margin-left: 21px;
}
#profile .links .profile-link {
    margin-left: 0;
}
#profile .links .item {
    background-color: #ffffff;
    height: 100%;
    line-height: 62px;
    letter-spacing: 1px;
}
#profile .links .active {
    background-color: #FFA000;
    color: #ffffff;
}
#profile .links .text {
    vertical-align: middle;
}
#profile .links .icon {
    margin-right: 10px;
    vertical-align: middle;
}
#profile .links .profile-link .icon {
    background: url('../images/my-profile.png') no-repeat;
    background-size: 22px;
    height: 22px;
    width: 22px;
}
#profile .links .cars-link .icon {
    background: url('../images/my-cars.png') no-repeat;
    background-size: 26px;
    height: 23px;
    width: 26px;
}
#profile .links .ads-link .icon {
    background: url('../images/my-ads.png') no-repeat;
    background-size: 32px;
    height: 28px;
    width: 32px;
}
#profile-box {
    background-color: #ffffff;
    padding: 33px 49px;
}
#profile-box .profile-left {
    border-right: 3px solid #EEEEEE;
    width: 600px;
}
#profile-box .edit-link {
    margin-top: 35px;
}
#profile-box .edit-link a {
    font-size: 16px;
    text-decoration: underline;
}
#profile-box .edit-link a:hover {
    text-decoration: none;
}
#profile-box h2 {
    font-size: 30px;
    margin: 4px 0 30px;
    letter-spacing: 2px;
}
#profile-box .profile-info p {
    font-size: 20px;
    margin-bottom: 15px;
}
#profile-box .profile-right {
    padding: 5px 0 0 28px;
}
#profile-box .balance-icon {
    background: url('../images/balance.png') no-repeat;
    background-size: 41px;
    height: 39px;
    margin-right: 12px;
    width: 41px;
}
#profile-box .balance p {
    font-size: 18px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}
#profile-box .recharge {
    margin: 25px 0;
}
#profile-box .payments a {
    margin-right: 10px;
}
#profile-box .payments img {
    box-shadow: 0 0 8px #ccc;
}

#login-block.profile-edit {
    margin-top: 25px;
}
#login-block .select-box {
    height: 48px;
}
#login-block .select-title {
    font-size: 18px;
    line-height: 48px;
}
#login-block .day,
#login-block .year {
    width: 100px;
}
#login-block .month {
    margin: 0 10px;
    width: 135px;
}
#login-block .radio-label {
    font-size: 18px;
}
#login-block .male {
    margin-right: 25px;
}

/* sell */
#sell {
    background-color: #ffffff;
    font-size: 14px;
    margin: 25px 0;
    padding: 40px 100px;
}
#sell .col-2 {
    width: 460px;
}
#sell .col-2.sell-left {
    margin-right: 80px;
}
#sell .col-3 {
    width: 320px;
}
#sell .col-3.sell-left,
#sell .col-3.sell-middle {
    margin-right: 20px;
}
#sell .form-box {
    margin-bottom: 10px;
}
#sell .col-1 label,
#sell .col-2 label {
    margin-right: 20px;
    width: 190px;
}
#sell .col-3 label {
    display: inline-block;
}
#sell label span {
    display: table-cell;
    height: 33px;
    vertical-align: middle;
}
#sell .required span:after {
    content: " *" !important;
    color: #dd4b39 !important;
    font-size: 1.5em;
    vertical-align: middle;
}
#sell .col-2.sell-left label {
    text-align: right;
}
#sell .col-1 .inp {
    width: 790px;
}
#sell .col-2 .inp {
    width: 250px;
}
#sell .price {
    margin-bottom: 20px;
}
#sell .mileage-input {
    margin-right: 10px;
    width: 140px;
}
#sell .mileage-select {
    width: 100px;
}
#sell .engine-volume1 {
    margin-right: 10px;
    width: 120px;
}
#sell .engine-volume2 {
    width: 120px;
}
#sell .separator {
    background-color: #d0d0d0;
    height: 1px;
    margin: 8px 0 20px;
}
#sell .checkbox-label {
    line-height: 24px;
}
#sell .form-error {
    color: #ff0000;
    font-size: 13px;
    margin-top: 2px;
}
#sell .submit-box {
    margin-top: 50px;
}
#sell #upload-image {
    background-color: #bfbaba;
}
#sell-images {
    margin: 20px -14px 0;
    overflow: hidden;
}
#sell-images .img-box {
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 15px 15px;
    height: 165px;
    padding: 4px;
    position: relative;
    width: 165px;
}
#sell-images .img-item {
    display: table-cell;
    height: 165px;
    vertical-align: middle;
    width: 165px;
}
#sell-images img {
    border-radius: 1px;
    max-height: 100%;
    max-width: 100%;
}
#sell-images .img-tools {
    position: absolute;
    top: 4px;
    right: 2px;
}
#sell-images .img-tools a {
    border-radius: 2px;
    height: 20px;
    margin: 0 2px;
    width: 20px;
}
#sell-images .img-tools .rotate-left {
    background: #e7e7e7 url('../images/rotate-left.png') no-repeat center center;
}
#sell-images .img-tools .rotate-right {
    background: #e7e7e7 url('../images/rotate-right.png') no-repeat center center;
}
#sell-images .img-tools .delete-img {
    background: #d73925 url('../images/remove-img.png') no-repeat center center;
}
#sell-images .rotate90 {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#sell-images .rotate180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#sell-images .rotate270 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#sell .upload-load {
    background: url('../images/select-loader.gif') no-repeat center center;
    height: 33px;
    vertical-align: top;
    width: 33px;
}

#main-left {
    margin: 0 12px 40px 0;
    width: 885px;
}
#search {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 21px;
}
#search .col {
    margin-right: 21px;
    width: 267px;
}
#search .sub-col {
    width: 129px;
}
#search .sub-col-1 {
    margin-right: 9px;
}
#search .col > div {
    margin-bottom: 11px;
}
#search div.cb {
    margin: 0;
}
#search .col-3 {
    margin-right: 0;
}
#search .mileage {
    width: 85px;
}
#search .mileage-measurement {
    width: 77px;
}
#search .show-all-p {
    margin-top: 15px;
}
#search .show-all {
    font-size: 14px;
}
#search .checkbox {
    margin: 5px 15px 10px;
}

/*auto*/
#autos {
    background-color: #ffffff;
}
#autos .line,
#auto .line {
    background-color: #e2dada;
    height: 1px;
}
.auto {
    padding: 15px 21px;
}
.auto:hover {
    background-color: #fafafa;
}
.auto .auto-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 148px;
    margin-right: 15px;
    width: 205px;
}
.auto .auto-info {
    width: 623px;
}
.auto .title-box {
    width: 260px;
    margin-right: 25px;
    line-height: 20px;
    min-height: 118px;
    padding-bottom: 30px;
    position: relative;
}
.auto .title {
    font-size: 17px;
    margin-bottom: 25px;
}
.auto .price {
    font-size: 17px;
    margin-right: 25px;
    width: 150px;
}
.auto .details {
    font-size: 15px;
}
.auto .country {
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#autos .empty {
    color: #929292;
    font-size: 15px;
    padding: 25px;
}

/* paging */
#paging {
    background-color: #ffffff;
    border-top: 1px solid #e2dada;
    padding: 20px;
}
#paging li a {
    border: 1px solid #e2dada;
    border-right: none;
    font-size: 14px;
    padding: 6px 11px;
}
#paging li.next a {
    border-right: 1px solid #e2dada;
    border-radius: 0 4px 4px 0;
}
#paging li.prev a {
    border-radius: 4px 0 0 4px;
}
#paging a:hover {
    background-color: #fdd085;
}
#paging a.active {
    background-color: #FFA000;
    color: #ffffff;
    cursor: default;
}
#paging li.disabled a {
    background-color: #ffffff;
    cursor: default;
    opacity: 0.4;
}
#main-right {
    width: 303px;
    margin-bottom: 40px;
}

#auto {
    background-color: #ffffff;
}
#auto .top-box {
    font-size: 18px;
    padding: 20px;
}
#auto .main-box {
    padding: 20px;
}
#auto .main-left {
    margin-right: 20px;
    width: 298px;
}
#auto .main-right {
    width: 527px;
}
#auto .main-left .key {
    color: #8a8a8a;
    padding-right: 5px;
    width: 120px;
}
#auto .main-left .value {
    width: 173px;
}
#auto .main-left p {
    font-size: 15px;
    margin-bottom: 10px;
}
#auto .images-box {
    margin-bottom: 30px;
}
#auto .main-img-box {
    background: url('../images/loader.gif') no-repeat center center;
}
#auto .main-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 380px;
}
#auto .images .img-thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90px;
    margin: 5px 0 0 5px;
    width: 128px;
}
#auto .images .img-thumb.mln {
    margin-left: 0;
}
#auto .images .img-thumb.active {
    opacity: 0.5;
}
#auto .desc {
    margin-bottom: 30px;
}
#auto .option {
    background: url('../images/checkbox.png') no-repeat 97% center;
    background-size: 20px;
    box-sizing: border-box;
    padding: 0 30px 0 7px;
    width: 50%;
}
#auto .option.active {
    background-image: url('../images/checkbox-active.png');
}
#auto .option.bg {
    background-color: #eeeded;
}
#auto .opt-item {
    display: table-cell;
    height: 36px;
    /*line-height: 24px;*/
    /*padding-right: 30px;*/
    vertical-align: middle;
    width: 100%;
}
#auto .opt-item img {
    margin-left: 5px;
}

/* footer */
#footer-block {
    background-color: #263238;
}
#footer {
    color: #ffffff;
    font-size: 14px;
    padding: 38px 0 15px;
    letter-spacing: 1px;
}
#footer a {
    color: #ffffff;
}
#footer .footer-menu {
    margin-bottom: 65px;
}
#footer .footer-menu li {
    margin-right: 23px;
}
#footer .footer-menu li.last {
    margin-right: 0;
}
#footer .footer-menu li a {
    border-bottom: 2px solid #8E9497;
}
#footer .footer-menu li a:hover {
    border-bottom: none;
}
#footer .footer-contacts {
    margin-right: 120px;
}
#footer .footer-contact {
    margin-bottom: 15px;
}
#footer .footer-contact a:hover {
    text-decoration: underline;
}
#footer .footer-join {
    margin-right: 135px;
}
#footer .footer-join p,
#footer .footer-payments p {
    font-size: 16px;
    margin-bottom: 15px;
}
#footer .footer-join ul li {
    height: 37px;
    margin: 0 10px;
}
#footer .footer-payments ul li {
    height: 35px;
    margin: 0 10px;
}
#footer .footer-join ul li a,
#footer .footer-payments ul li a {
    background-repeat: no-repeat;
    height: 100%;
    width: 37px;
}
#footer .footer-join ul li a.facebook {
    background-image: url('../images/join-fb.png');
}
#footer .footer-join ul li a.instagram {
    background-image: url('../images/join-instagram.png');
}
#footer .footer-payments ul li a.paypal {
    background-image: url('../images/paypal.png');
    width: 56px;
}
#footer .footer-payments ul li a.telcell {
    background-image: url('../images/telcell.png');
    width: 55px;
}
#footer .footer-payments ul li a.arca {
    background-image: url('../images/arca.png');
    width: 54px;
}
#footer .footer-right {
    color: #CCCFD0;
    text-align: right;
    width: 240px;
}
#footer .footer-right p {
    font-style: italic;
    margin-bottom: 15px;
    line-height: 25px;
}
#footer .footer-right span {
    background-color: #CCCFD0;
    height: 2px;
    vertical-align: middle;
    width: 14px;
}
#footer .website-by {
    color: #CCCFD0;
    font-size: 13px;
    margin-top: 15px;
}
#footer .website-by div {
    text-align: left;
    line-height: 22px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 2)
{
    /*#quick-search .body-checkbox {
        background-size: 84px;
    }*/
}